.flex-rectangle {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.page-heading {
    width: 135px;
    height: 40px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.otherdetails {
    display: flex;
    flex-direction: column;

}

.aboutus {
    width: 55px;
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;

}

.getinvolved {
    width: 77px;
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin-top: -3px;
}

.newsandevents {
    width: 106px;
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin-top: -3px;
}

.donationbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 332px;
    height: 40px;
    /* UI Properties */
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.donation {
    width: 114px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.moto {
    width: 100%;
    height: 600px;
    margin-top: 40px;
    background-image: url('/images/annie-spratt-427339-unsplash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.word {
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    font-size: 32px;
    margin-left: 10%;
}

.issues {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 30%;
    height: 30px;
    border: 1px solid black;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;

}

.declaration {
    display: flex;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: -18px;
    height: 210px;
}

.declaration-text {
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-weight: bold;
}





.mission-and-values {
    width: 100%;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mission {
    border: 1px solid black;
    width: 160px;
    height: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
}

.strive {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.advices {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #354463;

}

.our-work {
    width: 45%;
    margin-top: 25px;
    color: #FFFFFF;
    margin-left: 10px;
}


.flex-rectangle2 {
    width: 100%;
    height: 300px;

}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 160px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #354463;
    color: white;

}

.intro {

    width: 290px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.outlook {
    display: flex;
    width: 302px;
    height: 78px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    margin-top: -35px;
    color: #354463;
    opacity: 1;
}

.icon-image {
    width: 14%;
    height: 40px;
    /* UI Properties */
    opacity: 1;
}

.heading {
    width: 80%;
    height: 27px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.lorem-ipsum {
    width: 150px;
    height: 50px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: -12px;
}


.persons-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.myimage {
    width: 144px;
    height: 144px;
}

.individual-profile {
    width: 40%;
    margin-left: 5%;
}

.name-and-title {
    background-color: #354463;
    color: #C1F7D5;
    margin-top: -5px;
    height: 40px;
    width: 144px;
}


.impact {
    width: 100%;
    height: 880px;
    background-color: #354463;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;


}

.our-impact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}

.invest {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 50px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-number {
    margin-left: auto;
    margin-right: auto;
    width: 62px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-planted-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 160px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.women-employed {
    margin-left: auto;
    margin-right: auto;
    width: 84px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-million {
    margin-left: auto;
    margin-right: auto;
    width: 144px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.communities {
    margin-left: auto;
    margin-right: auto;
    width: 68px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}


.action {
    display: flex;
    width: 100%;
    height: 1050px;
    background-color: #354463;
    flex-direction: column;
}

.action-text {
    width: 312px;
    height: 186px;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.image-year {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    height: 300px;
    background-image: url('/images/Image.png');
}

.arrow-image {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    width: 10%;
    height: 12%;
    margin-right: -8px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 160px;
    height: 40px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.training {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #FFFFFF;
}

.training-detail {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 78px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.training-lorem {
    margin-left: auto;
    margin-right: auto;
    width: 247px;
    height: 116px;
    color: #354463;
    opacity: 1;
}

.read-more {
    width: 156px;
    height: 40px;
    /* UI Properties */
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.more-dot {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    column-gap: 3px;
}

.first-dot {
    height: 15px;
    width: 15px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.subscribe-box {

    width: 100%;
    height: 216px;
    margin-top: -20px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.subscribe-text {
    margin-left: auto;
    margin-right: auto;
    width: 322px;
    height: 78px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.email-subscribe {
    display: flex;
    column-gap: 10px;
    justify-content: space-evenly;
}

.email-enter {
    width: 214px;
    height: 38px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: black;
    opacity: 0.5;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 40px;
    /* UI Properties */
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    color: #C1F7D5;
}


.address {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.name {
    width: 94px;
    height: 62px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.contact-heading {
    display: flex;
    width: 84px;
    height: 11px;
    margin-top: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.contact-text {
    width: 126px;
    height: 74px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    margin-top: -7px;
    color: #354463;
    opacity: 1;
}

.follow-and-learn {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 50px;
}

.follow {
    display: flex;
    flex-direction: column;
    margin-left: -40px;
}

.follow-heading {
    width: 78px;
    height: 11px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.media {
    width: 62px;
    height: 110px;
    /* UI Properties */
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.learn-more {
    display: flex;
    flex-direction: column;


}

.learn-heading {
    width: 87px;
    height: 11px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.options {
    width: 80px;
    height: 86px;
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.slogan {
    width: 100%;
    height: 200px;
}

.slogan-text {
    margin-left: auto;
    margin-right: 30px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: right;
    font: normal normal normal 44px/46px Flood Std, sans-serif;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-weight: 400;
}

.slogan {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: end;
}

.slogan-text {


    font: normal normal normal 44px/46px Flood Std, sans-serif;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-weight: 200;
}

