.flex-rectangle {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.heading {
    width: 125px;
    height: 40px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.otherdetails {
    display: flex;
    flex-direction: column;

}

.aboutus {
    width: 55px;
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;

}

.getinvolved {
    width: 77px;
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin-top: -3px;
}

.newsandevents {
    width: 106px;
    height: 14px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
    margin-top: -3px;
}

.donationbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    width: 332px;
    height: 40px;
    /* UI Properties */
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.donation {
    width: 114px;
    height: 18px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}



.moto {
    width: 100%;
    height: 400px;
    background-image: url('/images/annie-spratt-427339-unsplash.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 1;
}

.word {
    top: 232px;
    margin-left: 32px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    font-size: 32px;
}

.declaration {
    width: 310px;
    height: 175px;
    margin-left: 80px;
    background-color: white;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-weight: bold;
}

.issues {
    display: flex;
    justify-content: center;
    width: 160px;
    height: 20px;
    margin-left: 150px;
    border: 1px solid black;
    background: #354463 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white;

}

.mission-and-values {
    height: 860px;
    background-color: #354463;
}

.mission {
    border: 1px solid black;
    width: 160px;
    height: 20px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;

}

.strive {
    width: 400px;
    height: 400px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-top: 100px;
    margin-left: 30px;
}

.advices {
    display: flex;
    margin-top: -280px;
    flex-wrap: wrap;
}

.our-work {
    width: 50%;
    height: 95px;
    column-gap: 10px;
    margin-top: 25px;
}

.heading {
    text-align: left;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    width: 180px;
    height: 20px;
}

.lorem-ipsum {
    width: 150px;
    height: 50px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: 30px;
    margin-top: -12px;
}

.flex-rectangle2 {
    width: 100%;
    height: 300px;

}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 160px;
    height: 40px;
    margin-left: 130px;
    background-color: #354463;
    color: white;

}

.intro {

    width: 290px;
    height: 120px;
    margin-left: 80px;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.outlook {
    display: flex;
    width: 302px;
    height: 78px;
    margin-left: 70px;
    text-align: center;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    margin-top: -35px;
    color: #354463;
    opacity: 1;
}

.persons-image {
    display: flex;
    flex-wrap: wrap;
}

.myimage {
    width: 144px;
    height: 144px;
}

.individual-profile {
    width: 40%;
    margin-left: 32px;
}

.name-and-title {
    background-color: #354463;
    color: #C1F7D5;
    margin-top: -5px;
    height: 40px;
    width: 144px;
}


.impact {
    width: 100%;
    height: 880px;
    background-color: #354463;
    display: flex;
    flex-direction: column;


}

.our-impact {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 160px;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
}

.invest {
    margin-left: auto;
    margin-right: auto;
    width: 370px;
    height: 50px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-number {
    margin-left: auto;
    margin-right: auto;
    width: 62px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-planted-text {
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
    width: 160px;
    height: 36px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 16px/20px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.women-employed {
    margin-left: auto;
    margin-right: auto;
    width: 84px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.tree-million {
    margin-left: auto;
    margin-right: auto;
    width: 144px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.communities {
    margin-left: auto;
    margin-right: auto;
    width: 68px;
    height: 44px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.action {
    display: flex;
    width: 100%;
    height: 1050px;
    background-color: #354463;
    flex-direction: column;
}

.action-text {
    width: 312px;
    height: 186px;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.image-year {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    height: 300px;
    background-image: url('/images/Image.png');
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 160px;
    height: 40px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.training {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #FFFFFF;
}

.training-detail {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 78px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.training-lorem {
    margin-left: auto;
    margin-right: auto;
    width: 247px;
    height: 116px;
    color: #354463;
    opacity: 1;
}

.read-more {
    width: 156px;
    height: 40px;
    /* UI Properties */
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.subscribe-box {

    width: 100%;
    height: 216px;
    margin-top: -20px;
    background: #C1F7D5 0% 0% no-repeat padding-box;
    opacity: 1;
}

.subscribe-text {
    margin-left: auto;
    margin-right: auto;
    width: 322px;
    height: 78px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.email-subscribe {
    display: flex;
    column-gap: 10px;
}

.email-enter {
    width: 214px;
    height: 38px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: black;
    opacity: 0.5;
    border: 1px solid white;
    background-color: white;
    border-radius: 100px;
    font-size: 14px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 40px;
    /* UI Properties */
    background: #354463 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    color: #C1F7D5;
}

.address {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.name {
    width: 94px;
    height: 62px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.contact-heading {
    display: flex;
    width: 84px;
    height: 11px;
    margin-top: 22px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.contact-text {
    width: 126px;
    height: 74px;
    /* UI Properties */
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    margin-top: -7px;
    color: #354463;
    opacity: 1;
}

.follow-and-learn {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

.follow {
    display: flex;
    flex-direction: column;
}

.follow-heading {
    width: 78px;
    height: 11px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.media {
    width: 62px;
    height: 110px;
    /* UI Properties */
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.learn-more {
    display: flex;
    flex-direction: column;
}

.learn-heading {
    width: 87px;
    height: 11px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 11px/13px Helvetica;
    letter-spacing: 0.44px;
    color: #354463;
    opacity: 1;
}

.options {
    width: 80px;
    height: 86px;
    /* UI Properties */
    text-align: left;
    text-decoration: underline;
    font: normal normal 300 14px/24px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.slogan {
    width: 100%;
    height: 200px;
}

.slogan-text {
    margin-left: auto;
    margin-right: 30px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: right;
    font: normal normal normal 44px/46px Flood Std, sans-serif;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    font-weight: 400;
}