.myrectangle {
    display: flex;
    top: 0px;
    left: 0px;
    width: 376px;
    height: 200px;
    /* UI Properties */
    background: white 0% 0% no-repeat padding-box;
    opacity: 1;
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    width: 200px;
}

.heading {
    width: 135px;
    margin-top: 55px;
    margin-left: 20px;
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;

}

.otherdetails {
    display: flex;
    flex-direction: column;
}

.aboutus {
    margin-top: 43px;
    margin-left: 42px;
    width: 85px;
    height: 14px;
    text-align: left;
    font: normal normal 300 14px/20px Helvetica;
    letter-spacing: -0.14px;
    color: #354463;
    opacity: 1;
}

.getinvolved {
    margin-top: 0px;
    margin-left: 42px;
    width: 100px;
    height: 20px;
    color: #354463;
    opacity: 1;
}

.newsandevents {
    margin-top: -10px;
    margin-left: 42px;
    width: 150px;
    height: 20px;
    color: #354463;
    opacity: 1;

}

.donation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 139px;
    margin-left: -350px;
    width: 314px;
    height: 38px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
    border: 1px solid black;
    background-color: lightskyblue;

}

.donationbox {
    display: flex;
    justify-content: center;
    width: 100%;

}


.logoimage {
    background: transparent url('/images/annie-spratt-427339-unsplash.png') 30% 30% no-repeat padding-box;
    width: 100%;
    height: 400px;
    flex-grow: 1;
    flex-shrink: 1;
    margin: auto;
}

.hashtag {
    top: 232px;
    margin-left: 32px;
    width: 181px;
    height: 136px;
    /* UI Properties */
    text-align: left;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.whitebox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    margin-left: 52px;
    width: 262px;
    height: 264px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;

}

.issue {
    width: 158px;
    height: 28px;
    margin-top: -300px;
    margin-left: 90px;
    display: flex;
    justify-content: center;
    background: #354463 0% 0% no-repeat padding-box;
    color: white;
}

.mission {
    margin-top: 200px;
    display: flex;
    height: 500px;
    width: 100%;
}

.values {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 108px;
    width: 160px;
    height: 18px;
    /* UI Properties */
    text-align: center;
    font: normal normal normal 14px/17px Helvetica;
    letter-spacing: 0.56px;
    color: #354463;
    opacity: 1;
}

.motto {
    margin-top: 100px;
}

.people {
    display: flex;
    margin-top: 1200px;
    width: 100px;
    border: 1px solid green;
    padding: 5px;
    margin: 20px;

}