.action {
    display: flex;
    width: 100%;
    height: 1000px;
    background-color: #354463;
    flex-direction: column;
}

.action-text {
    width: 312px;
    height: 186px;
    text-align: center;
    font: normal normal normal 44px/46px Flood Std;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
}

.image-year {
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
    height: 300px;
    background-image: url('/images/Image.png');
}

.year {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15px;
    width: 160px;
    height: 40px;
    /* UI Properties */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.training {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    margin-right: 35px;
    background-color: #FFFFFF;
}

.training-detail {
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 78px;
    /* UI Properties */
    text-align: center;
    font: normal normal bold 22px/28px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}

.training-lorem {
    margin-left: auto;
    margin-right: auto;
    width: 247px;
    height: 116px;
    color: #354463;
    opacity: 1;
}

.read-more {
    width: 156px;
    height: 40px;
    /* UI Properties */
    background: #C1F7D5 0% 0% no-repeat padding-box;
    border-radius: 100px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font: normal normal bold 18px/22px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    opacity: 1;
}